@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Light-cyan: hsl(193, 38%, 86%);
  --Neon-green: hsl(150, 100%, 66%);
  --Grayish-blue: hsl(217, 19%, 38%);
  --Dark-grayish-blue: hsl(217, 19%, 24%);
  --font-size: 1.75rem;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--Grayish-blue);
  color: var(--Light-cyan);
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: max(50vw, 23rem);
  margin: auto;
  height: 45%;
  background-color: var(--Dark-grayish-blue);
  padding: 0.75rem 1.75rem;
  box-shadow: 1.25rem 1.25rem 4rem var(--Dark-grayish-blue);
  border-radius: 0.75rem;
  text-align: center;
  transition: all 250ms ease-in-out;
}

h1 {
  color: var(--Neon-green);
  padding: 0.25rem 0;
  font-size: var(--font-size) / 4;
}

p {
  padding: 0.25rem 0;
  font-size: var(--font-size);
  word-spacing: 0.25rem;
  word-break: keep-all;
}

img {
  width: 100%;
  display: block;
  padding: 0.75rem 0;
}

input {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--Neon-green);
  margin-bottom: -2rem;
  background-image: url(./images/icon-dice.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  cursor: pointer;
  transition: 205ms;
}

input:hover {
  box-shadow: 0.1rem 0.1rem 1.75rem var(--Neon-green);
}

.loading {
  height: 3.75rem;
  width: 3.75rem;
  background-color: transparent;
  margin: auto;
  border-radius: 50%;
  border: 0.5rem solid var(--Neon-green);
  border-color: var(--Neon-green) transparent var(--Light-cyan) transparent;
  position: relative;
  animation: loading 2500ms linear infinite;
  transition: all 250ms ease-in-out;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
